<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- col full-->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                        <mat-card-title>EA List</mat-card-title>
                    </div>
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50"  class="text-right"
                        *ngIf="isAdmin">
                        <button mat-mini-fab color="primary" (click)="openNewDialog()">
                            <mat-icon>add</mat-icon>
                            </button>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                        <div class="bg-light p-10 p-r-20 p-l-20" style="background-color: white!important;">
                            <mat-form-field>
                                <input matInput [(ngModel)]="initSearchValue" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="table-rasponsive">
                    <mat-table [dataSource]="dataSource" matSort>

                        <!-- ID Column -->
                        <ng-container matColumnDef="ea_id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> EA ID </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.ea_id}} </mat-cell>
                        </ng-container>

                        <!-- Progress Column -->
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="ea_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> EA Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.ea_name}} </mat-cell>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                
                                <button mat-icon-button color="primary" (click)="editEaProduct(row)"
                                    *ngIf="isAdmin">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="deleteEaProduct(row.id)"
                                    *ngIf="isAdmin">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="openLiscense(row.ea_id,row.user_id)">
                                    <mat-icon>list</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>