<div class="text-center">
    <img alt="homepage" src="assets/images/logo-icon.png">
    <h4 class="m-t-0">Add New Account</h4>
</div>
<div mat-card-content>
    <div fxLayout="row" fxLayoutWrap="wrap">
        <!-- <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field class="m-t-20">
                <mat-label>Select Email</mat-label>
                <mat-select #fontSize [(ngModel)]="email">
                    <mat-option *ngFor="let user of users;" value={{user.id}}>{{user.email}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        
        <!-- <mat-form-field>
            <input matInput tabindex="1" placeholder="EA ID" [(ngModel)]="newEaId">
        </mat-form-field> -->
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field>
                <input matInput tabindex="1" placeholder="Account Number" [(ngModel)]="newAccountNumber">
            </mat-form-field>
        </div>
        <!-- <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field>
                <input matInput tabindex="1" placeholder="Hashkey" [(ngModel)]="newHashKey">
            </mat-form-field>   
        </div> -->
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="isAdmin">
            <mat-checkbox matInput color="primary" [(ngModel)]="newAllowFlag">Allow Flag</mat-checkbox>
        </div>
    </div>
    
</div>
<div class="text-right m-t-20">
    <button mat-raised-button color="primary" (click)="onSubmit()" tabindex="2">Add</button>
    <button mat-button (click)="onNoClick()" tabindex="-1" class="m-l-10">Cancel</button>
</div>