<div class="text-center">
    <img alt="homepage" src="assets/images/logo-icon.png">
    <h4 class="m-t-0">Add User</h4>
</div>
<div mat-card-content>
    <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field class="m-t-20">
                <input matInput tabindex="1" placeholder="Email" [(ngModel)]="newEmail" required>
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field>
                <input matInput tabindex="1" placeholder="Password" [(ngModel)]="newPassword" required>
            </mat-form-field>
        </div>

        <!-- <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-checkbox matInput color="primary">Allow This User</mat-checkbox>
        </div> -->
    </div>
</div>
<!-- <div mat-dialog-actions> -->
    <div class="text-right m-t-20">
        <button mat-raised-button (click)="onSubmit()" tabindex="2" color="primary">Add</button>
        <button mat-button (click)="onNoClick()" tabindex="-1" class="m-l-10">Cancel</button>
    </div>
<!-- </div> -->
