<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- <mat-card-title>License Data</mat-card-title> -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                        <!-- col full-->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                            <mat-card-title>License Data</mat-card-title>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50"  class="text-right">
                            <button mat-mini-fab color="primary" (click)="createNewLicense()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                <div class="table-rasponsive">
                    <mat-table [dataSource]="dataSource" matSort>


                        <!-- Account Number Column -->
                        <ng-container matColumnDef="account_number">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.account_number}} </mat-cell>
                        </ng-container>

                        <!-- Allow Flag Column -->
                        <ng-container matColumnDef="allow_flag">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Allow Flag </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.allow_flag}} </mat-cell>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button mat-icon-button color="primary" (click)="editLicense(row)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="deleteLicense(row.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>