<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>
                <ul>
                    <li *ngFor="let ea_product of ea_products">
                        {{ea_product.ea_id}} ({{ea_product.ea_name}} {{ea_product.user_id}})
                        - <a (click)="deleteEaProduct(ea_product.id)" class="text-danger">Delete</a>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>