<div class="text-center">
    <img alt="homepage" src="assets/images/logo-icon.png">
    <h4 class="m-t-0">Edit Item</h4>
</div>
<div mat-card-content>   
    <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field class="m-t-20">
                <mat-label>Select Email</mat-label>
                <mat-select #fontSize [(ngModel)]="data.selectedEmail">
                    <mat-option *ngFor="let user of users;" value={{user.email}}>{{user.email}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
            <!-- <mat-form-field>
                <input matInput tabindex="1" placeholder="EA ID" [(ngModel)]="data.selectedEaId">
            </mat-form-field> -->
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field>
                <input matInput tabindex="1" placeholder="EA Name" [(ngModel)]="data.selectedAccountNumber">
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field>
                <input matInput tabindex="1" placeholder="Parameter" [(ngModel)]="data.selectedHashKey">
            </mat-form-field>
        </div>
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-checkbox matInput color="primary" [(ngModel)]="data.selectedAllowFlag">Allow Flag</mat-checkbox>
        </div>   
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onSubmit()" tabindex="2">Ok</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div>